extends layout

doctype
html( lang="en" )
    head
        title TESTING
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='TESTING' )

    block content
        script( src='/javascripts/index.js' )
        script.
            function hideAllRows(name, otherName) {
                if($(name).is(':visible')) {
                    $(name).hide();
                    $(otherName).text('Hidden!');
                }
                else{
                    $(name).show();
                    $(otherName).text('15');
                }
            };
        body.container-fluid
            .row
                .col-md-3
                    button(type = 'button', id='successfulBtn', onclick='hideAllRows(".success", ".success-badge")').btn.btn-success.btn-block Successful&nbsp
                        span.badge.success-badge 15
                .col-md-3
                    button(type = 'button').btn.btn-warning.btn-block Partial Success&nbsp
                        span.badge 15
                .col-md-3
                    button(type = 'button').btn.btn-danger.btn-block Failure&nbsp
                        span.badge 15
                .col-md-3
                    button(type = 'button').btn.btn-other.btn-block Active&nbsp
                        span.badge 15
                .col-md-3
                    button(type = 'button').btn.btn-other.btn-block SOMECHANGES
                        span.badge 15

            .row
                .col-md-12
                    table.table.table-striped.table-bordered
                        thead
                            tr
                                th #
                                th Name
                                th Date
                                th Other
                        tbody
                            tr(id='someStuff').success.someStuff
                                th 1
                                td Daniel
                                td The Dude
                                td Some stuff

                            tr.warning
                                th 1
                                td Daniel
                                td The Dude
                                td Some stuff

                            tr.danger
                                th 1
                                td Daniel
                                td The Dude
                                td Some stuff

                            tr.other
                                th 1
                                td Daniel
                                td The Dude
                                td Some stuff