/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

a {
  color: #00B7FF;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 10px !important;
}

.btn-other {
  color: #ffffff;
  background-color: #6936D8;
  border-color: #341B6C;
}

.btn-other:hover,
.btn-other:focus,
.btn-other:active,
.btn-other.active,
.open .dropdown-toggle.btn-other {
  color: #ffffff !important;
  background-color: #542BAC;
  border-color: #341B6C;
}

.btn-other:active,
.btn-other.active,
.open .dropdown-toggle.btn-other {
  background-image: none;
}

.btn-other.disabled,
.btn-other[disabled],
fieldset[disabled] .btn-other,
.btn-other.disabled:hover,
.btn-other[disabled]:hover,
fieldset[disabled] .btn-other:hover,
.btn-other.disabled:focus,
.btn-other[disabled]:focus,
fieldset[disabled] .btn-other:focus,
.btn-other.disabled:active,
.btn-other[disabled]:active,
fieldset[disabled] .btn-other:active,
.btn-other.disabled.active,
.btn-other[disabled].active,
fieldset[disabled] .btn-other.active {
    color: #ffffff;
  background-color: #6936D8;
  border-color: #341B6C;
}

.btn-other .badge {
  color: #6936D8;
  background-color: #ffffff;
}

.table > thead > tr > td.other,
.table > tbody > tr > td.other,
.table > tfoot > tr > td.other,
.table > thead > tr > th.other,
.table > tbody > tr > th.other,
.table > tfoot > tr > th.other,
.table > thead > tr.other > td,
.table > tbody > tr.other > td,
.table > tfoot > tr.other > td,
.table > thead > tr.other > th,
.table > tbody > tr.other > th,
.table > tfoot > tr.other > th {
  background-color: #DDD2F6;
}
.table-hover > tbody > tr > td.other:hover,
.table-hover > tbody > tr > th.other:hover,
.table-hover > tbody > tr.other:hover > td,
.table-hover > tbody > tr:hover > .other,
.table-hover > tbody > tr.other:hover > th {
  background-color: #cdbcf2;
}

.input-inverse{
  background-color: #444444 !important;
  border-color: #ffffff !important;
}